/* loading */

@-webkit-keyframes loadingFade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes loadingFade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

/* header */
@keyframes header {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0%);
        opacity: 1
    }
}

@keyframes logo {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
