/* loading */
@keyframes coverleft {
    0% {
        transform: scaleX(1) skewX(30deg);
        transform-origin: left;
    
    }
     

    100% {
        transform: scaleX(0) skewX(30deg);
        transform-origin: left;
        background:var(--text-color);
    }
}

/* header */
@keyframes header {
    0% {
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        transform: translateX(0%);
        opacity: 1
    }
}

@keyframes logo {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
