@charset "utf-8";

/* reset */
/* 여백 초기화 */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    word-break: keep-all;
}
/* skip */
#skip a {
    width: 100%;
    height: 30px;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #000;
    position: absolute;
    left: 0;
    top: -40px;
}

#skip a:active,
#skip a:focus {
    top: 0
}

/* html5shiv */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* img */
img {
    width: 100%;
    vertical-align: middle;
}


/* 단어 줄바꿈 */
p,
span {
    word-break: keep-all;
}

/* a 링크 초기화 */
a {
    display: inline-block;
    color: #2d2d2d;
    text-decoration: none;
}

/*:before, :after*/
*,
*:after,
*:before {
    box-sizing: border-box;
}

/* 블릿기호 초기화 */
li,
ol,
ul {
    list-style: none;
}

/* 사파리 혹은 타 브라우저에서 태그 radius현상 없에기 */
input,
textarea,
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: 0;
    border: 0;
}

/*버튼 초기화*/
button {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

/* 폰트 기본세팅 */
*,
a,
address,
body,
button,
em,
input,
input::placeholder,
p,
select,
table,
textarea {
    color: #202020;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    font-style: inherit;
    font-family: "InfinitySans_Regular",
    "ApercuMono",
    "Poppins",
    sans-serif;
    letter-spacing: -0.05em;
}


/* textarea 초기화 */
textarea {
    resize: none;
}

/* 인용문 기호 초기화 */
blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

/*input box 초기화*/
input {
    border: 0;
    background: none;
}

/*table*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*form 초기화*/
fieldset {
    border: 0;
}

/* 웹접근성을 고려한 블라인드 처리 */
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

/* clearfix */
.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

/* 아이폰에서 테이블 width 간격이 모두 같을 때 */
caption {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

/* font color */
:root {
    --black-color: #303030;
    --white-color: #ffffff;
    --gray-color: #eeeeee;
    --red-color: #e61930;
    --main-color: #4faef0;
    --box-color: #f2f9ff;
}
