@charset "utf-8";
/* body */
body {
    overflow-x: hidden;
}

::selection {
    background:#D1C9BC;
    color: rgb(15, 15, 15);
}


/* mouse cursor */
.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background: white;
    pointer-events: none;
    mix-blend-mode: difference;
    border-radius: 50%;
    transition: transform 350ms ease-in-out, background 350ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
}

.cursor.active {
    background: rgba(209, 201, 188,0.5);
    transform: translate(-50%, -50%) scale(3);
    mix-blend-mode: normal;
    filter: blur(4px);
}

.cursor::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
    content: '';
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s 0.2s ease-out;
}

/* 
.cursor-follower {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: rgba(255, 51, 137, 0.3);
    border-radius: 50%;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    transform: scale(1);
    transition: transform 0.6s ease-in-out, opacity 0.2s ease-in-out;
}

.cursor-follower.active {
    opacity: 0.7;
    transform: scale(4);
} */

/* container */
.container {
    width: 95%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
/* loading */
.loading_wrap {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #235c47;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.loading_wrap.active {
    opacity: 0;
    transform: translateY(-200%);
}

.loading_wrap.noactive {
    opacity: 1;
    transform: translateY(0%);
}

.loading_dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: white;
    -webkit-animation: loadingFade 1s infinite;
    -moz-animation: loadingFade 1s infinite;
    animation: loadingFade 1s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow: 0 0 2px black;
    -ms-box-shadow: 0 0 2px black;
    -o-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.loading_dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}

.loading_dot:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading_dot:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading_dot:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loading_wrap span {
    color: #fff;
    font-size: 20px;
    line-height: 2;
}

/* header */
.header {
    display: flex;
    position: fixed;
    top: 25px;
    left: 2%;
    width: 96%;
    height: 90px;
    border: 1px solid #2e2e2e;
    animation: header 1.5s ease-in-out forwards;
    z-index: 1000;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    animation-delay: 2s;
    transition: 0.5s ease-in-out;
}
.header.sticky {
    top: 0;
    width: 100%;
    border: none;
    background: rgba(209, 201, 188, 0.1);
    border-bottom: 1px solid #2e2e2e;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(10px);
    left: 0;

}
.logo span {
    display: inline-block;
    width: 65px;
    height: 65px;
    padding: 7px;
    margin: 12px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    animation: logo 2s forwards;

    opacity: 0;
    animation-delay: 4.2s;
    text-transform: uppercase;
}

.header.active .logo span {
    border: 5px solid #000;
    color: #000;
}

.header.active .nav li a {
    color: #000;
}

.header.active .nav li a span {
    color: #999;
}

.header.active .ham span {
    background: #000;
}

.nav_wrap {
    font-family: 'Poppins';
    margin-right: 4vw;
    transition: 0.5s ease-in-out;
}
.nav_wrap.sticky {
    margin-right: 15px;
}
.nav_wrap li {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.nav_wrap li+li {
    margin-left: 3vw;
}

.nav_wrap li a {
    font-weight: 400;
    font-size: 17px;
    text-transform: capitalize;
}

.nav_wrap li a span {
    display: block;
    position: relative;
    color: #2d2d2d;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.nav_wrap li a::after {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
    background-color: rgb(45, 45, 45);
    transition: bottom 0.3s ease-in-out;
}

.nav_wrap li:hover a::after {
    bottom: 0;
    height: 7px;
}

/* progress */
.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10px;
    background-color: #235c47;
    z-index: 2;
}

/* small text */
.small_txt { 
   padding-top: 20%;
   cursor: default;
   padding-right: 2em;
}

.small_txt h6 {
    color: #0f0f0f;
    font-weight: 600;
    font-size: 9px;
    line-height: 20px;
    font-family: "ApercuMono";
    letter-spacing: 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* section1 */
#section1 {
    position: relative;
    width: 100vw;
    background: #fefefe;

}
.sec1 .small_txt {
    text-align: right;
 
}

.headline_txt {
    display: flex;
    top: 90%;
    left: 0;
    width: 100%;
    z-index: 1;
    flex-direction: column;
}
.headline_txt .heading {
    position: relative;
    margin: 0;
    color: #0f0f0f;
    font-weight: 700;
    font-size: 10vw;
    line-height: 2px;
    white-space: nowrap;
    text-transform: uppercase;

}
.headline_txt .heading span {
    color: #d1c9bc;
    font-weight: 700;
    line-height: 1;
}

.headline_txt .heading:last-child {
    align-self: flex-end;
}
/* section2 */
#section2 {
    width: 100%;
 
}
.sec2 .small_txt {
    text-align: center;
}

/* section3 */
#section3 {
    width: 100vw;
    height: 100vh;
    background: #888;
}

/* section4 */
#section4 {
    width: 100vw;
    height: 100vh;
    background: #555;
}

/* footer */
#footer {
    width: 100vw;
    height: 100vh;
    background: #ccc;
}
